    body {
    background-color: #ebeff5;
    }

    .container.giris_panel {
     padding-left: 50px;
    }

    .sekme.btn.btn-md {
        background-color: #007bff;
        color: white;
    }

    .sekme.btn.btn-md.active {
        background-color: #0069d9;
        color: white;
    }

    #v-pills-home-tab {
        margin-bottom: 5px;
    }

 /*   footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 90px;
      }
*/
.alert.alert-danger.duzenleme_uyari {
        text-align: center;
    }

table.kutu-stili.table-condensed input {
    border: 2px solid rgba(0, 0, 0, 0.324);
}

#id_notlar {
    height: 150px;
}

.breadcrumb {
    margin-top: 5px;
    border: 1px black solid;
}